<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <div class="row1">
                <img src="/images/bpo.jpg" alt="profile picture" class="userPic">
                <div class="greeting">
                    <span>i'm <br>doan <br>hung</span>
                </div>
            </div>
            <div class="row2">
                <a class="userDetails">
                    <h1>Doan</h1>
                    <h2>Manh Hung</h2>
                    <span>Software Engineer</span>
                </a>
                <a class="home" href="home">
                    <ion-icon name="school-outline"></ion-icon>
                </a>
                <a class="projects" href="projects">
                    <ion-icon name="cog-outline"></ion-icon>
                </a>
                <a class="contact" href="contact">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </div>

        </nav>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>